@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Two+Tone");
* {
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Jost',sans-serif;
}
#header {
    width: 100%;
    padding: 2%;
    color:white;
    background: rgb(229, 83, 136);
    border-bottom: 1px solid #e0e4e8;
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    height: 10%;
  }

#header-text:hover{
  text-shadow: 2px 2px white;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
}